In [2]:
name='vishal'
college='birla'
print(name+college)

vishalbirla

In [3]:
name=input("Enter the name=")
college=input("Enter the college=")
print(name+college)

Enter the name=vishal
Enter the college=birla
vishalbirla

In [5]:
name=input("Enter the name=")
rollno=int(input("Enter the roll no="))
print(name,rollno)

Enter the name=vishal
Enter the roll no=118
vishal 118

In [6]:
    
print("vishal sharma software engineer")

vishal sharma software engineer

In [7]:
print("vishal sharma 'software' engineer")

vishal sharma 'software' engineer

In [9]:
print("vishal sharma \n 118")

vishal sharma
 118

In [18]:
print('1\t2\t3\t4\t5\t')
print('12345')

1	2	3	4	5
12345

In [23]:
print('vishal\'s sharma')

vishal's sharma

In [25]:
print("vishal\"Sharma\"")

vishal"Sharma"

In [30]:
print("vishal")
print('vishal sharma')
print("""vishal""")
print('''vishal sharma''')
print('''vishal                             #in triple auto \n with new line start 
sharma
118''')

vishal
vishal sharma
vishal
vishal sharma
vishal                             #in triple auto
 with new line start
sharma
118