In [38]:
import pandas as pd
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [5]:
bond.loc["Moonraker","Actor"]

'Roger Moore'

In [6]:
bond.loc["Moonraker","Director"]

'Lewis Gilbert'

In [17]:
bond.loc["Moonraker","Actor":"Budget"]
bond.loc["Skyfall",["Actor","Budget","Year","Box Office"]]

Actor         Daniel Craig
Budget               170.2
Year                  2012
Box Office           943.5
Name: Skyfall, dtype: object

In [14]:
bond[bond["Year"]>2010]

         Year         Actor    Director  Box Office  Budget  Bond Actor Salary
Film
Skyfall  2012  Daniel Craig  Sam Mendes       943.5   170.2               14.5
Spectre  2015  Daniel Craig  Sam Mendes       726.7   206.3                NaN

In [28]:
bond.iloc[14,2]
bond.iloc[14,2:5]
bond.iloc[14,[5,3,2]]

Bond Actor Salary          7.8
Box Office               373.8
Director             John Glen
Name: Octopussy, dtype: object

In [34]:
bond.ix[20,"Budget"]
bond.ix["The Man with the Golden Gun",2]
bond.ix["The Man with the Golden Gun",["Actor","Budget"]]
bond.ix["The Man with the Golden Gun",:4]
bond.ix[5,3]

c:\users\pawan sharma\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
c:\users\pawan sharma\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

c:\users\pawan sharma\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\pawan sharma\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
c:\users\pawan sharma\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """

514.2