In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [2]:
data=pd.read_csv("hospital-readmissions-orig.csv")
data.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,readmitted
0,2,1,3,1,1,7,2,44,1,16,0,0,0,8.0,250.43,403.0,7,0
1,2,1,4,1,1,7,1,51,0,8,0,0,0,197.0,157.00,250.0,5,0
2,2,0,8,2,1,4,13,68,2,28,0,0,0,398.0,427.00,38.0,8,0
3,2,0,9,3,3,4,12,33,3,18,0,0,0,434.0,198.00,486.0,8,0
4,0,1,6,2,1,4,7,62,0,11,0,0,0,157.0,288.00,197.0,7,1

In [3]:
real_x=data.iloc[:,:-1].values
real_y=data.iloc[:,-1].values

In [4]:
real_x.shape

(59557, 17)

In [5]:
real_y.shape

(59557,)

In [6]:
train_x,test_x,train_y,test_y=train_test_split(real_x,real_y,test_size=.2,random_state=0)

In [7]:
sc=StandardScaler()
train_x=sc.fit_transform(train_x)
test_x=sc.fit_transform(test_x)

In [8]:
cls=KNeighborsClassifier()
cls.fit(train_x,train_y)
pred_y=cls.predict(test_x)

In [9]:
print(cls.score(train_x,train_y)*100)
print(cls.score(test_x,test_y)*100)

85.26393115751915
82.16084620550706

In [10]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(test_y,pred_y)
cm

array([[9469,  435],
       [1690,  318]], dtype=int64)

In [25]:
from matplotlib.colors import ListedColormap
x_set,y_set=train_x,train_y
x1,x2=np.meshgrid(np.arange(start=x_set[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]].min()-1,stop=x_set[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]].max()+1,step=0.01),
                  np.arange(start=x_set[:,18].min()-1,stop=x_set[:,18].max()+1,step=0.01))
plt.contourf(x1,x2,cls.predict(np.array([x1.ravel(),x2.ravel()]).T).reshape(x1.shape),
            alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(x1.min(),x1.max())
plt.ylim(x2.min(),x2.max())
for i,j in enumerate(np.unique(y_set)):
    plt.scatter(x_set[y_set==j,0],x_set[y_set==j,1],
            c=ListedColormap(('red','green'))(i),label=j)
plt.title('KNN Training set')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

IndexError: index 18 is out of bounds for axis 1 with size 17

In [19]:
j=1
for i in data.columns:
    print(i,j)
    j=j+1

race 1
gender 2
age 3
admission_type_id 4
discharge_disposition_id 5
admission_source_id 6
time_in_hospital 7
num_lab_procedures 8
num_procedures 9
num_medications 10
number_outpatient 11
number_emergency 12
number_inpatient 13
diag_1 14
diag_2 15
diag_3 16
number_diagnoses 17
readmitted 18